<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
	<style media="all">
	.ad__mobile{display:none}
	.ad__desktop{display:block}
	@media (max-width:1100px){
	.ad__desktop{display:none}
	.ad__mobile{display:block}
	}
	</style>
	    
      <div class="ad__desktop">
		
		<img src="https://raw.githubusercontent.com/matthiashimmelmann/matthiashimmelmann.github.io/main/images/HD_transparent_picture.png"  
	 	style="object-fit:fill;
            	width:15.5vw;
           	 height:auto;
		float: left;"/>
		<span style="vertical-align:middle; text-align:center; float:center;">
		<img src="https://raw.githubusercontent.com/matthiashimmelmann/matthiashimmelmann.github.io/main/images/Bewerbungsfoto20183_small.jpg"  
	 	style="object-fit:fill;
            width:15.5vw;
            height:auto;
            border: solid 0.185vw #CCC;
			float: right;
			vertical-align:center;
			margin-top: 0.75vw;"/>
	      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
	      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
		<p>Email: matthias.himmelmann (at) tu-braunschweig.de</p>
		<p>Github: <a href="https://github.com/matthiashimmelmann" style="color:white;">matthiashimmelmann</a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ORCID: <a href="https://orcid.org/0000-0002-5655-6740" style="color:white;">0000-0002-5655-6740</a></p><br>
		<p style="line-height:65%"> </p>
		<a href="https://matthiashimmelmann.github.io/" class="btn">Home</a>
		<a href="/documents/ResearchCV.pdf" class="btn">CV (pdf)</a>
		<a href="https://matthiashimmelmann.github.io/research/" class="btn">Research</a>
		<a href="https://matthiashimmelmann.github.io/teaching/" class="btn">Teaching</a>
		</span>
      </div>

      <div class="ad__mobile">
	<h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
	      	      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
		<span style="vertical-align:middle; text-align:center; float:center">
		<p>Email: matthias.himmelmann (at) tu-braunschweig.de</p>
		<p>Github: <a href="https://github.com/matthiashimmelmann" style="color:white;">matthiashimmelmann</a></p><br>
		<p> </p>
		<a href="https://matthiashimmelmann.github.io/" class="btn">Home</a>
		<a href="/documents/ResearchCV.pdf" class="btn">CV</a>
		<a href="https://matthiashimmelmann.github.io/research/" class="btn">Research</a>
		<a href="https://matthiashimmelmann.github.io/teaching/" class="btn">Teaching</a>
		</span>
      </div>

	<!--<script>
    	const isMobile = matchMedia('(max-device-width: 1200px)').matches;
    	const ad = document.currentScript.closest('.ad');
    	const content = ad
      .querySelector(isMobile ? '.ad__mobile' : '.ad__desktop')
      .content;
    
    ad.appendChild(document.importNode(content, true));
  </script>-->

    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
      </footer>
    </main>
  </body>
</html>
